<!DOCTYPE html>
<html>
  <head>
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>This is the title of the webpage!</title>
    <script defer src='js/bundle.js'></script>
  </head>
  <body>
<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>XAI Demo: Ethan Oliver and Jake Kroner  </strong>
      </a>
      <ul>
        <li><a href="https://xai-capstone.herokuapp.com/faces">Face Combinations</a></li>
        <li><a class="active" href="https://xai-capstone.herokuapp.com/dictionary">Semantic Dictionary</a></li>
        <li><a class="active" href="https://xai-capstone.herokuapp.com/neuron">Neuron Combinations</a></li>
        <li><a href="https://xai-capstone.herokuapp.com/elephant">Jumbo</a></li>
        
      </ul>
    </div>
  </div>
</header>

<div class = container>
  <h1>Semantic Dictionary</h1>
  <p>When an image is passed into the network, certain neurons get highly activated. A semantic dictionary is a visualization of these activated neurons for specific portions of the image. We can use this dictionary to better understand why these neurons fire and what they represent.  </p>

  <h2>Mixed 6a Layer Semantic Dictionary</h2>
  <p>The number represents the ID for the specific neuron while the bar represents how activated it is</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
</html>
